<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% include analytics.html %}

  <div class="off-canvas-container">
    {% include header.html %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-7641990454144050",
              enable_page_level_ads: true
         });
    </script>
    {{ content }}

    {% include footer.html %}
  </div>

  <script src="{{ '/js/jquery-2.1.4.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/script.js' | prepend: site.baseurl }}"></script>
</body>

</html>
